#hamlet,
.shadowTop::before + #hamlet {
  transition: transform 300ms ease;
}

#hamlet:hover {
  transition-property: none;
}

.shadowTop::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 30%;
  width: 100%;
  background-image: linear-gradient(to bottom, #000, transparent);
  z-index: 1;
}

.shadowLoader {
  background-image: radial-gradient(
    circle at 50% 100%,
    transparent,
    transparent 30%,
    #000
  );
}

.transitionGame {
  transition: -webkit-filter 300ms ease;
  transition: filter 300ms ease;
  transition: filter 300ms ease, -webkit-filter 300ms ease;
}

.card-container {
  perspective: 1000px;
}

.card {
  transition: transform 300ms linear;
  transform-style: preserve-3d;
}

.card.correct {
  transition-property: none;
}

.card.flip {
  transform: rotateY(-180deg);
}

.front-card {
  /* Bug fix for backface visibility in Firefox. */
  transform: rotateY(0deg);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(-180deg);
}

.shadowText {
  text-shadow: -1px 0 #d65900, 0 1px #cf4a00, 1px 0 #b52d00, 0 -1px #d24a00;
}

.btn-journal::before {
  --size: 40px;
  content: '';
  display: block;
  height: var(--size);
  width: var(--size);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 300ms ease-in-out;
}

.btn-journal:hover::before {
  transform: scale(1.4);
}

.btn-journal_home::before {
  background-image: url('/invitation.webp');
}

.btn-journal_tryGame::before {
  background-image: url('/try_game.webp');
}

@media (max-height: 550px) {
  #left-time-title {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 200px;
    word-break: normal;
  }
}
