#hamlet,
.shadowTop::before + #hamlet {
  transition: transform 300ms ease;
}

#hamlet:hover {
  transition-property: none;
}

.shadowTop::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 30%;
  width: 100%;
  background-image: linear-gradient(to bottom, #000, transparent);
  z-index: 1;
}

.shadowLoader {
  background-image: radial-gradient(
    circle at 50% 100%,
    transparent,
    transparent 30%,
    #000
  );
}
